{% extends 'base.html' %}

{% block main %}

<section class="about">
    <div class="video" data-aos="zoom-in">
        <video autoplay controls>
            <source src="../static/videos/aboutVid.mp4" type="video/mp4">
        </video>
    </div>
    <div class="content" data-aos="fade-right">

        <div id="text">
            <h2>Meet Dr. Kannan Dilip</h2>
            <br>
            <p>Born into a family lineage steeped in business acumen spanning three generations on my mother's side, and with a father hailing from a distinguished background, it might have seemed natural for me to follow the path of commerce. However, fate had other plans, woven intricately with threads of courage, strength, and a profound sense of purpose.</p> <br>
            <p>My father's journey stands as a testament to the resilience of the human spirit. Despite being born into noble lineage, he charted a different course, driven by an unwavering commitment to healing. In an era marred by formidable challenges in paediatric healthcare in India, marked by scarce resources, crumbling infrastructure, and a dearth of specialised medical professionals, he emerged as a beacon of hope to anyone who knew him.</p>
            <br><br>
        </div>

        <div id="img" data-aos="zoom-in" data-aos-delay="300"><img src="../static/images/abt1.jpg" alt="about section side image" width="100%"></div>
        
    </div>
</section>
<section class="fields">
    <div id="field" style="background:#5F5F5F ;" data-aos="fade-right">
        <h2>The <br>Doctor</h2>
    </div>
    <div id="field" style="background:#515151 ;" data-aos="fade-right" data-aos-delay="200">
        <h2>Clinical <br> Researcher</h2>
    </div>
    <div id="field" style="background:#454545 ;" data-aos="fade-right" data-aos-delay="400">
        <h2>Auther & <br> Teacher</h2>
    </div>
    <div id="field" style="background:#2F2F2F;" data-aos="fade-right" data-aos-delay="600">
        <h2>Healthcare <br> Designer</h2>
    </div>
    <div id="field" style="background: #1A1A1A;" data-aos="fade-right" data-aos-delay="800">
        <h2>Social <br> Entreprenur</h2>
    </div>
</section>
<section class="fields">
    <div id="field" style="background:linear-gradient(to right,#5F5F5F,#515151);" data-aos="fade-right">
        <h2>The <br>Doctor</h2>
    </div>
    <div id="field" style="background:linear-gradient(to right,#515151,#454545);" data-aos="fade-right" data-aos-delay="200">
        <h2>Clinical <br> Researcher</h2>
    </div>
    <div id="field" style="background:linear-gradient(to right,#454545,#2F2F2F) ;" data-aos="fade-right" data-aos-delay="400">
        <h2>Auther & <br> Teacher</h2>
    </div>
    <div id="field" style="background:linear-gradient(to right,#2F2F2F,#1A1A1A);" data-aos="fade-right" data-aos-delay="600">
        <h2>Healthcare <br> Designer</h2>
    </div>
    <div id="field" style="background: linear-gradient(to right,#1A1A1A,#0A0A0A);" data-aos="fade-right" data-aos-delay="800">
        <h2>Social <br> Entreprenur</h2>
    </div>
</section>

<section class="detail">
    <p data-aos="fade-up">By the 1980s, a time when paediatric healthcare in India was grappling with monumental hurdles, my father defied the odds. Armed with determination and a thirst for knowledge, he pursued not one but two postgraduate degrees, both specialising in paediatrics. His decision to dedicate his life to paediatric care was not merely a career choice; it was a calling, a response to the pressing healthcare needs of our nation.</p>
    <br><p data-aos="fade-up">Growing up in such an environment, I was blessed with a unique perspective. On one hand, I
        witnessed the fruits of successful business endeavours, learning valuable lessons about
        entrepreneurship and perseverance. On the other hand, I was keenly aware of the stark realities
        plaguing our healthcare system, where lives hung in the balance today more due to improper
        resource management rather than inadequate resources and a shortage of skilled professionals -
        <i>the healthcare situation has significantly changed between my fathers time & mine.</i></p>
    <br><p data-aos="fade-up">These contrasting worlds shaped my worldview, instilling in me a deep appreciation for the power
        of entrepreneurship to transform lives and an acute understanding of the pressing healthcare
        needs of our time. It was this duality that ignited within me a sense of purpose, driving me to
        bridge the gap between business and healthcare, to harness the potential of both realms for the
        betterment of society.</i></p>
    <br><p data-aos="fade-up">In the tapestry of my upbringing, I found myself woven with threads of enlightenment,
        compassion, and a burning desire to effect positive change. And thus, armed with the wisdom
        imparted by my father's journey and the insights gleaned from my upbringing, I embarked on a
        path guided by the twin beacons of business success and healthcare advocacy, determined to
        leave a lasting impact on the world around me.</p>

</section>

<section class="aboutImg">
    <div data-aos="zoom-in" id="img"><img src="../static/images/doc.jpg" alt="about end image 1" width="100%"></div>
    <div data-aos="zoom-in" id="img"><img src="../static/images/researcher.jpg" alt="about end image 2" width="100%"></div>
</section>

{% endblock %}