{% extends 'base.html' %}

{% block main %}

<section class="achievements" style="padding:2% 5%;">
    <h1>Achievements</h1>
    <div class="flex50">
        <div id="img" data-aos="zoom-in"><img src="../static/images/doc.jpg" alt="doctor-image" width="100%"></div>
        <div id="text" data-aos="fade-up" data-aos-delay="300">
            <h2>Doctor</h2>
            <br>
            <p>Growing up unlike most people I was blessed with two sets of parents not one. Counting nothing short from Acha & Amma, the caring & love I got from my maternal grandparents & the attachment I had with them was nothing short the definition of parents. I believe this is a special blessing the heavens have given me. I got to live 10,830 precious days with my grandpa and 12,837 magical days with my grandma - which I only wish I could relive them a million times over & again...</p>
            <br><br>
            <a href="#" id="btn">Read More</a>
        </div>
        
    </div>
    <div class="flex50">
        <div id="img" data-aos="zoom-in"><img src="../static/images/researcher.jpg" alt="researcher-image" width="100%"></div>
        <div id="text" data-aos="fade-up" data-aos-delay="300">
            <h2>Clinical Researcher</h2>
            <br>
            <p>In the intricate realm of healthcare, I've transitioned from a seasoned medical practitioner to a visionary clinical researcher and devoted social entrepreneur specialising in diabetology. Driven by a profound mission, I'm committed to reshaping the landscape of diabetes care, from conventional glucose-centric management towards a insulin-centric paradigm.</p>
            <br>
            <p>In the early 1900s the biggest medical cause for lose of human life were infections, maternal mortality, infant mortality, cardiovascular diseases, Malnutrition and starvation.</p>
            <br><br>
            <a href="#" id="btn">Read More</a>
        </div>
        
    </div>
    
    <div class="flex50">
        <div id="img" data-aos="zoom-in"><img src="../static/images/researcher.jpg" alt="researcher-image" width="100%"></div>
        <div id="text" data-aos="fade-up" data-aos-delay="300">
            <h2>The Auther | The Teacher</h2>
            <br>
            <p>In the intricate realm of healthcare, I've transitioned from a seasoned medical practitioner to a visionary clinical researcher and devoted social entrepreneur specialising in diabetology. Driven by a profound mission, I'm committed to reshaping the landscape of diabetes care, from conventional glucose-centric management towards a insulin-centric paradigm.</p>
            <br>
            <p>In the early 1900s the biggest medical cause for lose of human life were infections, maternal mortality, infant mortality, cardiovascular diseases, Malnutrition and starvation.</p>
            <br><br>
            <a href="#" id="btn">Read More</a>
        </div>
        
    </div>
    
    <div class="flex50">
        <div id="img" data-aos="zoom-in"><img src="../static/images/researcher.jpg" alt="researcher-image" width="100%"></div>
        <div id="text" data-aos="fade-up" data-aos-delay="300">
            <h2>Healthcare Designer & <br>Social Entreprenur</h2>
            <br>
            <p>In the intricate realm of healthcare, I've transitioned from a seasoned medical practitioner to a visionary clinical researcher and devoted social entrepreneur specialising in diabetology. Driven by a profound mission, I'm committed to reshaping the landscape of diabetes care, from conventional glucose-centric management towards a insulin-centric paradigm.</p>
            <br>
            <p>In the early 1900s the biggest medical cause for lose of human life were infections, maternal mortality, infant mortality, cardiovascular diseases, Malnutrition and starvation.</p>
            <br><br>
            <a href="#" id="btn">Read More</a>
        </div>
        
    </div>
</section>

{% endblock %}