<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Kannan Dilip</title>

    <link rel="stylesheet" href="../static/css/main.css">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <section class="intro" data-aos="fade-down" data-aos-duration="1000">
        <div class="videoBg">
            <video autoplay muted loop>
                <source src="../static/videos/intro1.mp4" type="video/mp4">
            </video>

            <div class="videoText" align="center">
                <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="700">Dr. Kannan Dilip</h1>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">Expert Care, Brighter Futures, Defeating Diabetes.</p>
                <a href="#">Book Appointment</a>
            </div>

        </div>
    </section>
   

    <nav>
        <div class="nav">
            <div id="logo"><a href="/"><h2>Dr. Kannan Dilip</h2></a></div>
            <div id="navContent">
                <a href="/about">About</a>
                <a href="/achievements">Expertise</a>
                <a href="/contact">Contact</a>
            </div>
            <div id="menu">
                <a type="button"><img src="../static/images/icons/menu.png" class="dropbtn" onclick="drop()" alt="menu" width="40px"></a>
            </div>
        </div>
        <div id="myDropdown">
            <ul class="dropdown">
                <li><a href="/about">About</a></li>
                <li><a href="/achievements">Expertise</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        
    </nav>
     <!-- HERO -->
     <section class="hero">
        <div id="img" data-aos="zoom-in"><img src="../static/images/dp.jpg" alt="" width="100%"></div>
        <div id="content" data-aos="fade-up" data-aos-delay="300">
            <h1>Apart from being<br>a Diabetologist <br>I'm also :</h1>
            <p><span>Clinical Researcher</span> | <span>Teacher</span> | <span>Author</span></p>
            <!-- <span>Doctor</span> -->
            <p><span>Healthcare Project Designer</span></p>
            <p><span>Social Entrepreneur</span></p>

            <div id="btns">
                <a href="#" id="cntn">Contact Now</a>
                <a href="#heroRead" id="rm">Know More</a>
            </div>
            
        </div>
    </section>

    <section class="about" id="heroRead">
        <div class="video" data-aos="zoom-in" data-aos-duration="1000">
            <video autoplay controls>
                <source src="../static/videos/aboutVid.mp4" type="video/mp4">
            </video>
        </div>
        <div class="content" data-aos="fade-right" id="heroRead">

            <div id="text">
                <h2>Meet Dr. Kannan Dilip</h2>
                <br>
                <p>Born into a family lineage steeped in business acumen spanning three generations on my mother's side, and with a father hailing from a distinguished background, it might have seemed natural for me to follow the path of commerce. However, fate had other plans, woven intricately with threads of courage, strength, and a profound sense of purpose.</p> <br>
                <p>My father's journey stands as a testament to the resilience of the human spirit. Despite being born into noble lineage, he charted a different course, driven by an unwavering commitment to healing. In an era marred by formidable challenges in paediatric healthcare in India, marked by scarce resources, crumbling infrastructure, and a dearth of specialised medical professionals, he emerged as a beacon of hope to anyone who knew him.</p>
                <br><br>
                <a href="/about" id="btn">Read More</a>
            </div>

            <div id="img" data-aos="zoom-in" data-aos-delay="300"><img src="../static/images/abt1.jpg" alt="about section side image" width="100%"></div>
            
        </div>

        
    </section>

    <section class="achievements">
        <h1 id="heading">My Expertise</h1>
        <div class="flex">
        <div class="dgrid" data-aos="zoom-in">
            <div id="img"><img src="../static/images/researcher.jpg" alt="doctor-image" width="100%"></div>
            <div id="text" data-aos="fade-up" data-aos-delay="300">
                <a href="#"><h1>Read More</h1></a>
            </div>
            <div id="itemName">
                <h1>The<br>Doctor</h1>
            </div>
        </div>
        <div class="dgrid" data-aos="zoom-in" data-aos-delay="200">
            <div id="img"><img src="../static/images/researcher.jpg" alt="doctor-image" width="100%"></div>
            <div id="text" data-aos="fade-up" data-aos-delay="300">
                <a href="#"><h1>Read More</h1></a>

            </div>   
            <div id="itemName">
                <h1>Clinical<br>Researcher</h1>
            </div>
        </div>
        <div class="dgrid" data-aos="zoom-in" data-aos-delay="400">
            <div id="img"><img src="../static/images/researcher.jpg" alt="doctor-image" width="100%"></div>
            <div id="text" data-aos="fade-up" data-aos-delay="300">
                <a href="#"><h1>Read More</h1></a>

            </div>   
            <div id="itemName">
                <h1>The Auther | The Teacher</h1>
            </div>
        </div>
        <div class="dgrid" data-aos="zoom-in" data-aos-delay="600">
            <div id="img"><img src="../static/images/researcher.jpg" alt="doctor-image" width="100%"></div>
            <div id="text" data-aos="fade-up" data-aos-delay="300">
                <a href="#"><h1>Read More</h1></a>

            </div>   
            <div id="itemName">
                <h1>Healthcare Designer & Social Entreprenur</h1>
            </div>
        </div>
        </div>
        
    </section>
    <section class="expect">
        <h1 id="heading"><b>What to expect...</b></h1>
        <div class="dgrid">
            <div class="mt50" id="item" data-aos="fade-up">
                <img src="../static/images/doc.jpg" alt="item" width="100%">
                <div id="text">
                    <h2>HEADING 1</h2>
                    <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="mt50" id="item" data-aos="fade-up" data-aos-delay="200">
                <img src="../static/images/researcher.jpg" alt="item" width="100%">
                <div id="text">
                <h2>HEADING 2</h2>
                <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="mt50" id="item" data-aos="fade-up" data-aos-delay="400">
                <img src="../static/images/doc.jpg" alt="item" width="100%">
                <div id="text">
                    <h2>HEADING 3</h2>
                    <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="mt50" id="item" data-aos="fade-up" data-aos-delay="400">
                <img src="../static/images/researcher.jpg" alt="item" width="100%">
                <div id="text">
                    <h2>HEADING 4</h2>
                    <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="mt50" id="item" data-aos="fade-up" data-aos-delay="200">
                <img src="../static/images/doc.jpg" alt="item" width="100%">
                <div id="text">
                    <h2>HEADING 5</h2>
                    <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="mt50" id="item" data-aos="fade-up">
                <img src="../static/images/researcher.jpg" alt="item" width="100%">
                <div id="text">
                    <h2>HEADING 6</h2>
                    <p>This place will be filled with what you have to say about heading in short. This place will be filled with what you have to say about heading in short.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <h1>Contact Me</h1>
        <div class="flex50">
            <div id="left" data-aos="zoom-in">
                <form action="" method="post" id="contactForm">
                    <input type="text" name="name" placeholder="Full Name">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="text" name="phone" placeholder="Phone Number">
                    <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Your Message"></textarea>

                    <a class="submitbtn" id="btn" type="submit" form="#contactForm">Submit</a>
                </form>
            </div>
            <div id="right">
                <h2>Address :</h2>
                <br>
                <p>&emsp;address line 1</p>
                <p>&emsp;address line 2</p>
                <p>&emsp;address line 3</p>
                <br><br>

                <p>Email : <a href="#">exampleemail@mail.com</a></p>
                <br><br>

                <p>Phone : <a href="#">+91 123 123 1234</a></p>
                <br><br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.992845812796!2d76.60182027549328!3d8.880256091175308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05fdb97250aad5%3A0xbff685223bfa38ea!2sInspireZest%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1714707869370!5m2!1sen!2sin" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="left">
            <h1><i>"Leave this world a little better than you found it."</i></h1>
            <p>-Robert Baden-Powell</p>
        </div>
        <!-- <div class="middle">
            <h3>Links</h3>
            <ul>
                <li>About</li>
                <li>Achievements</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="right"></div> -->
    </section>

    <div id="social">
        <a href="#"><img src="../static/images/icons/fb.png" alt="facebook"></a>
        <a href="#"><img src="../static/images/icons/ig.png" alt="instagram"></a>
        <a href="#"><img src="../static/images/icons/yt.png" alt="youtube"></a>
    </div>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- menu -->
    <script>
        function drop() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                  if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                  }
                }
        }
    </script>
</body>
</html>